*{
  font-family: 'Kaisei Tokumin', serif;
  box-sizing: border-box;
}
body{
  height: 150vh;
}

/* Index Header */
.main-bg{
  background-color: #000000;
}
.textcontainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textcontainer h1{
  font-size: 150px;
  color: rgba(225,225,225, .01);
  background-image: url("./styles/image/giphy.gif");
  background-repeat: repeat;
  background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}
button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}




.header1 {
  background-color: #1C9579;
  color: #fff;
  min-height: 50px;
  padding: 10px;
}

.nav-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-link ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 60px;
}

.nav-link ul li a {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
/* Index Header */

/* Index main */
.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 300px 300px;
  grid-gap: 10px;
  padding: 10px;

}
.grid-container  figure {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  
}
/* Specific styling for items 1 to 4 */
#item2,
#item3,
#item1,
#item4,
#item5,
#item6
{
  grid-row: span 2; 
}
.item img{
  max-width: 100%;
  max-height: 100%;
  width: 500px; 
  height: 500px; 
  border-radius: 25px;
  box-shadow: 10px 5px 5px black;
  filter: grayscale(100%);

}
.item img:hover{
  filter: grayscale(0%);
  transform: scale(1.1) ;
}
.item p{
  padding: 10px;
  font-size: 24px;
  text-align: center;
}
.grid-container  li{
  font-size: 24px;
  padding: 10px;
}


.btn{
  background-color: #2739A9;
  text-decoration: none;
  font-size: 34px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  border: none;
}
.btn:hover{
  background-color: transparent;
  color: #0088c9;
  border: 2px solid #0088c9 ;
  text-decoration: none;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
 

  .textcontainer h1 {
    font-size: 80px; 
    text-wrap: wrap;

  }
    .textcontainer {
    /* padding: 20px;  */
     height: auto;
     max-width: 100%;    
     justify-content: center;
  }

  /* header */
  .nav-link ul {
    display: flex;
    flex-direction: column;
  }

  .nav-link ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav-link ul li a{
   font-size: 14px;
  }
  /* header */

    /* main */
    .grid-container{
      grid-template-columns: 1fr;
    }
    .grid-container  figure {
      padding: 5px 0;
      font-size: 14px;
    }
    .item h3{
      margin: 100px;
      font-size: 24px;
    }
    .item img{
      max-width: 100%;
      height:auto;
      margin-top: 30px;
    }
    .item p{
      font-size: 14px;
    }
    .item li{
      font-size: 14px;
    }
    /* main */
  }


  @media (max-width: 458px) {
    .textcontainer h1 {
      font-size: 50px; 
    }
  }
  @media (max-width: 1025px) {
    .nav-link ul {
      flex-direction: column;
    }
  
    .nav-link ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .nav-link ul li a{
     font-size: 14px;
    }
 
  }

  .demonstration{
    text-align: center;
    color: #1C9579;
  }
/* Index main */

/* Index footer */
footer {
  background-color: #1C9579;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  padding: 10px 0;
}
/* footer */


/* Jobs */

aside{
  text-transform: uppercase;
  width: 25%;
  float: right;
  border: 4px solid #456990;
  word-spacing: 2.5px;
  gap: 10px;
  margin: 10px;
  padding: 5px;
}
aside .btn{
  display: flex;
  justify-content: center;
}
aside h3{
  font-family: Arial, Helvetica, sans-serif;
}
/* give a width to the image */
aside img {
  width: 200px;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  aside {
    width: 100%; 
    float: none; 
    margin: 10px 0; 
  }
   aside img{
    min-height: 100px;
    max-width: 100px;
  } 
  aside .btn{
    display: inline-block;
    justify-content: center;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-img {
  margin-top:1px ;
  min-width: 100%;
  height: 400px;
}

.banner-header {
  text-align: center;
  text-transform: uppercase;
  background-color: #1C9579;
  height: 80px;
  padding: 10px;
  margin: 5px;
  font-size: larger;
  word-spacing: 1rem;
}
  /* Section Styles */
.sections-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
section{
  background-color: #f4f4f4;
  padding: 20px;
  word-spacing: 1.5px;
}
section h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
section figure h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

section figure ul {
  margin-left: 20px;
}
section .btn{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 60px;
}

/* Media query for smaller screens */

@media (max-width: 768px) {
  .banner-header {
    height: 100px;
    padding: 5px;
    margin: 10px;
  }
  aside h1{
    font-size: 20px;
  }
  section figure {
    padding: 5px;
  }
  section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  section figure h3 {
    font-size: 16px;
  }
  section figure ul {
    margin-left: 10px;
  }
  section .btn{
    display: flex;
  }
  
}
/* Jobs */


/* Apply */
.Apply-container{
  background-color: #9ECAD1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.JobApply{
  height: 90%;
  width: 60%;
  margin-left:20%;
  margin-top: 20px;
}
.Job-Banner img{
  width: 100%;
}

.ApplicationHeader{
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
}
.Textlabel{
  font-size: 24px;
  margin-left: 20px;
}
.SkillsOption{
  font-size: 18px;
}
.State{
  width: 100%; 
  height: 50px; 
  font-size: 24px;
}
input[type = text]{
  width: 100%;
  padding: 10px;
}
.OtherSkills {
  float: right;
  width: 100%;
  margin-left: 20px;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 40px;
  width: auto;
}
.Apply-btn {
  display: flex;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.Apply-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.Apply-btn img {
  display: block;
  width: 24px;
  height: 24px; 
  transition: transform 0.3s ease-in-out;
}

.Apply-btn:hover img {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.Apply-btn:hover span {
  transform: translateX(10em);
}

.Apply-btn:active {
  transform: scale(0.95);
}
@media (max-width: 768px) {
  .Job-Banner img{
    width: 100%;
  }

  .ApplicationHeader{
    font-size: 14px;
  }
  .Textlabel{
    font-size: 14px;
    margin-left: 20px;
  }
  .SkillsOption{
    font-size: 14px;
  }
  .State{
    width: 100%; 
    height: 20px; 
    font-size: 14px;
  }
  .Apply-btn {
    font-size: 10px;
    /* height: 100px; */

  }
   
  .Apply-btn img {
    display: block;
    width: 14px;
    height: 14px; 
  }

}
/* Apply */

/* About */

.time-header{
  text-align: center;
}


#group-info dl {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


#group-info figure {
  display: flex;
  float: right;
  margin-left: 20px;
  border: 1px solid black;
  margin-top: -300px;
  padding: 5px;
}

figure .groupPhoto{
  width: 300px;
  height: 250px;
 }



.student-info dt {
  padding: 4px 8px;
  background-color: #99b899;
  color: #333; /* Dark text for readability */
  width: auto;
  font-weight: bold;
  
}
.group-details{
  float: left;
  margin-top: 5%;
  margin-right: 60%;
  background-color: #1C9579
}


table {
  border-collapse: collapse; 
  width: auto; 
}
.timetable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: fit-content;
}

.timetable h1{
  text-align: center;
}

th, td {
  padding: 5px; 
  text-align: center; 
  border: 1px solid #ddd;
  width: 200px;
}

th {
  background-color: #ddd;  
  font-weight: bold; 
}

tr:nth-child(even) { 
  background-color: #f2f2f2; 
}


 a {
  text-decoration: none; 

}

a:hover {
  text-decoration: underline;
}
.subject {
  background-color: #99b899;
}

.gradient{
  background-image: 
  linear-gradient(to bottom,);
  background-image: linear-gradient(to bottom);
}

.info{
  font-size: larger;
  font-weight: bold;
}

@media screen and (max-width: 768px) {

  .time-header{
    margin-top: 120%;
  }

  #group-info {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #group-info dl {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .group-details {
    min-width: 100%;
    margin-top: 25px;
    float: left;
    margin-top: 5%;
    margin-right: 60%;
    background-color: #1C9579;
  }

  

  figure .groupPhoto {
    width: fit-content;
    margin-left: auto;
    /* margin-top: 90%; */
    margin-top: 100%;
    border: none;
  }

  .timetable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: fit-content;
  }

  th,td {
    padding: 2px;
    width: 100px;
  }
}

@media screen and (max-width: 428px) {
  .timetable {
    margin: 20px 0 0 0; /* Adjusted margin for better spacing */
  }

  .timetable table {
    width: 100%; /* Ensures the table is not wider than the screen */
    min-width: 400px; /* Minimum width to maintain table structure, adjust as needed */
  }

  th, td {
    padding: 5px; /* Adjust padding to reduce space */
    font-size: 12px; /* Smaller font size for table content */
  }

  th {
    min-width: 60px; /* Minimum width for table headers */
  }

  td {
    min-width: 50px; /* Minimum width for table cells */
  }

}




/* About */
/* Enhancements */
#Enhancements{
  height:fit-content;
}
#demo-img{
  height:500px;
  margin-left: 35%;

}

@media screen and (max-width: 768px) {
  #demo-img{
    height:300px;
    margin-left: 2%;
    width: 200px;

  }

  
}
/* Enhancements */


   